p {
    font-size: 16px;
    font-family: "RobotoSlab-Regular";
    background-color: #F8E71C;
}

.box {
    width: 260px;
    padding: 20px;
    margin: auto;
    margin-bottom: 10px;
    opacity: 1;
/*    border: 1px solid;
    border-color: blue;*/
}

/* body {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid;
} */