p {
    font-size: 18px;
    font-family: "RobotoSlab-Regular";
    text-align: left;
    background-color: #F8E71C;
}

.basic-ground {
    width: 300px;
    height: 500px;
    margin: auto;
    border: 1px solid;
    background-color: whitesmoke;
}

.pink-box{
    width: 280px;
    height: 420px;
    padding-top: 10px;
    margin: 10px 10px 10px 10px;
    background-color: #FFB6C1;
}

.yellow {
    width: 220px;
    height: 160px;
    padding: 10px;
    margin: 0px 10px 10px 10px;
    border: 10px solid #F5A623;
}